body {
    margin: 0 auto;
    justify-content: center;
    
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
    margin: 5px 40px;
    max-width: 300px;
    width: 100%;
}

h1 {
    font-size: large;
    font-size: 38px;
}

p {
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

span {
    font-size: 24px;
    font-style: italic;
    font-size: large; 
}