body {
    margin: 0 auto;
    text-align: center;
}

.poem{
    display:flex;
    padding: 20px 180px;
    max-width: 270px;
}

.autor{
    padding-top: 15px;
    font-style: italic;
    font-size: 18px;
}

.container p{
    line-height: 1.7;
    font-size: 18px;
}